div {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 200px;
}

.contenedor {
    margin-top: 50px;
    height: 300px;
    width: 450px;
}

img {
    height: 100%;
    width: 100%;
}