/*
fondo verde claro: #E3FFE0
verde oscuro: #65B35D
verde pastel: #A8FF9E
violeta: #B34B8E
rosa: #FF9EDC
*/

body {
	background-color: #E3FFE0;
	font-family: 'Verdana';
	font-size: 2em;
}

#etiqueta {
	font-size: 1.25em;
	color: #B34B8E;
	text-shadow: 0px 0px 2px #B34B8E;
	display: flex;
	justify-content: center;
	margin-top: 75px;
}

#texto {
	border: 0;
	outline: none;
	font-size: 1.25em;
	color: #B34B8E;
	text-shadow: 0px 0px 5px #B34B8E;
	background-color: #E3FFE0;
	width: 70%;
	margin: 0px auto;
	display: block;
	border-bottom: 1px solid #B34B8E;
	text-align: center;
	border-image: linear-gradient(to right, #65B35D,#A8FF9E);
	border-image-slice: 1;
}

.empezar {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.parar {
	display: flex;
	justify-content: center;
}

button {
	padding: 7px 14px 7px 14px;
	margin: 7px;
	font-size: .8em;
	border: 0px;
	border-radius: 12px;
	color: #E3FFE0;
	background-color: #65B35D;
}

button:disabled {
	color: #5EB05B;
}

#respuesta {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	font-size: 2em;
	text-shadow: 0px 0px 7px #B34B8E;
	color: #A8FF9E;
}

